
@keyframes eyelid {
  0%, 15%, 25%, 100% {
    height: 14px;
  }
  5%, 20% {
    height: 47px;
    border-radius: 73% 54% 58% 45%;
  }
}

@keyframes foot-left {
  0%, 50%, 100% {
    transform: rotate(-30deg) scaleX(-1);
    top: 162px;
    left: 78px;
  }
  75% {
    transform: rotate(-70deg) scaleX(-1);
    top: 137px;
    left: 120px;
  }
  25% {
    transform: rotate(87deg) scaleX(-1);
    top: 168px;
    left: -6px;
  }
}

@keyframes foot-right {
  0%, 50%, 100% {
    transform: rotate(-30deg) scaleX(-1);
    top: 162px;
    left: 78px;
  }
  25% {
    transform: rotate(-70deg) scaleX(-1);
    top: 137px;
    left: 120px;
  }
  75% {
    transform: rotate(87deg) scaleX(-1);
    top: 168px;
    left: -6px;
  }
}

@keyframes body-top {
  0% {
    top: 360px;
  }
  50% {
    top: 365px;
  }
  100% {
    top: 360px;
  }
}

@keyframes hand-right {
  0% {
    transform: rotate(13deg);
  }
  50% {
    transform: rotate(-100deg);
    top: 22px;
    left: 74px;
  }
  100% {
    transform: rotate(13deg);
  }
}

@keyframes hand-left {
  50% {
    transform: rotate(42deg) scaleX(-1);
    top: 12px;
    left: 71px;
  }
  0%, 100% {
    transform: rotate(-45deg) scaleX(-1);
    top: 37px;
    left: 142px;
  }
}

@keyframes head {
  0% {
    top: 55px;
  }
  50% {
    top: 60px;
  }
  100% {
    top: 50px;
  }
}

@keyframes road {
  100% {
    background-position: 0 0, 300px 116px, 0 150px, 216px 0;
   
  }
  0% {
    background-position: 300px 0, 0 116px, 0 0, 216px 150px;
        
  }
}

@keyframes cloud {
  0% {
    left: 100%;
  }
  100% {
    left: -50%;
  }
}

@keyframes ray-2 {
  0%, 100% {
    opacity: 1;
    transform: scale(1) rotate(2deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5) rotate(2deg);
  }
}

@keyframes ray-3 {
  0%, 100% {
    opacity: 0.5;
    transform: scale(1) rotate(-20deg);
  }
  50% {
    opacity: 1;
    transform: scale(1.5) rotate(-20deg);
  }
}

@keyframes ray-4 {
  0%, 100% {
    opacity: 1;
    transform: scale(1) rotate(-50deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5) rotate(-50deg);
  }
}

@keyframes ray-5 {
  0%, 100% {
    opacity: 0.5;
    transform: scale(1) rotate(97deg);
  }
  50% {
    opacity: 1;
    transform: scale(1.5) rotate(97deg);
  }
}

@keyframes ray-6 {
  0%, 100% {
    opacity: 1;
    transform: scale(1) rotate(-113deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5) rotate(-113deg);
  }
}

@keyframes ray-7 {
  0%, 100% {
    opacity: 0.5;
    transform: scale(1) rotate(-151deg);
  }
  50% {
    opacity: 1;
    transform: scale(1.5) rotate(-151deg);
  }
}

@keyframes tan {
  0% {
  }
  100% {
    background: #B2754D;
  }
} 


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background-color: bisque; */
background: linear-gradient( rgb(87, 192, 241) 35%, rgb(248, 235, 122) 40%, rgb(248, 235, 122));
}


.masyanya {
      position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sun-sky {
  position: absolute;
  top: 24px;
  left: 80%;
}


.sun-sky__sun {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #ffd200;
  border-radius: 50%;
  box-shadow: 0 0 90px #ff3400;
}


.sun-sky__sun-ray {
  position: absolute;
}


.sun-sky__ray {
  position: absolute;
  background: #FFD200;
  border-radius: 100% 100% 100% 100%;
  z-index: -5;
}


.sun-sky__ray:nth-child(2) {
  height: 4px;
  width: 450px;
  top: 46px;
  left: -219px;
  animation: ray-2 1.5s ease infinite forwards;
}


.sun-sky__ray:nth-child(3) {
  height: 4px;
  width: 340px;
  top: 45px;
  left: -125px;
  animation: ray-3 1.5s ease infinite forwards;
}


.sun-sky__ray:nth-child(4) {
  height: 4px;
  width: 400px;
  top: 31px;
  left: -146px;
  animation: ray-4 1.5s ease infinite forwards;
}


.sun-sky__ray:nth-child(5) {
  height: 4px;
  width: 450px;
  top: 26px;
  left: -178px;
  animation: ray-5 2s ease infinite forwards;
}


.sun-sky__ray:nth-child(6) {
  height: 4px;
  width: 400px;
  top: 57px;
  left: -150px;
  animation: ray-6 1.5s ease infinite forwards;
}

.sun-sky__ray:nth-child(7) {
  height: 4px;
  width: 450px;
  top: 57px;
  left: -165px;
  animation: ray-7 2s ease infinite forwards;
}


.head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 200px;
}


.head__face {
  position: absolute;
  height: 100px;
  width: 217px;
  border-radius: 124% 91% 100% 82%;
  background: #FDD7A9;
  border: 2px solid #000;
  top: 50px;
  animation-name: head, tan;
  animation-duration: 0.5s, 20s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: forwards;
}


.head__right-eye,
.head__left-eye {
  position: absolute;
  height: 47px;
  width: 26px;
  border-radius: 124% 91% 100% 82%;
  background: #ffffff;
  border: 2px solid #000;
}


.head__left-eye {
  left: 100px;
  top: -14px;
  transform: rotate(-16deg);
}


.head__right-eye {
  left: 133px;
  top: -18px;
  transform: rotate(9deg);
}


.head__apple-eye {
  position: relative;
  width: 6px;
  height: 10px;
  border-radius: 50%;
  background: black;
  top: 31px;
  left: 10px;
}


.head__heir {
  position: absolute;
}


.head__heir:nth-child(1) {
  top: -20px;
  left: 184px;
  width: 30px;
  height: 30px;
  border-radius: 0 0 100% 0;
  border-bottom: 1px solid #000;
  border-right: 2px solid #000;
  transform: rotate(173deg);
  z-index: -1;
}


.head__heir:nth-child(2) {
  top: -60px;
  left: 154px;
  width: 110px;
  height: 68px;
  border-radius: 0 0 100% 0;
  border-bottom: 1px solid #000;
  border-right: 2px solid #000;
  transform: rotate(152deg);
  z-index: -1;
}


.head__heir:nth-child(3) {
  top: -94px;
  left: 150px;
  width: 68px;
  height: 103px;
  border-radius: 0 0 100% 0;
  border-bottom: 1px solid #000;
  border-right: 2px solid #000;
  transform: rotate(164deg);
  z-index: -1;
}


.head__heir:nth-child(4) {
  top: -71px;
  left: -34px;
  width: 99px;
  height: 87px;
  border-radius: 0 0 100% 0;
  border-bottom: 2px solid #000;
  border-right: 1px solid #000;
  transform: rotate(-83deg);
}


.head__heir:nth-child(5) {
  top: -15px;
  left: -19px;
  width: 57px;
  height: 47px;
  border-radius: 0 0 100% 0;
  border-bottom: 2px solid #000;
  border-right: 1px solid #000;
  transform: rotate(-101deg);
}


.head__heir:nth-child(6) {
  top: -40px;
  left: -34px;
  width: 80px;
  height: 60px;
  border-radius: 0 0 100% 0;
  border-bottom: 2px solid #000;
  border-right: 1px solid #000;
  transform: rotate(-101deg);
}


.head__heir:nth-child(7) {
  top: -32px;
  left: 93px;
  width: 25px;
  height: 25px;
  border-radius: 0 0 79% 0;
  border-bottom: 5px solid #000;
  border-right: 2px solid #000;
  transform: rotate(-151deg);
}

.head__heir:nth-child(8) {
  top: -34px;
  left: 138px;
  width: 24px;
  height: 24px;
  border-radius: 0 0 79% 0;
  border-bottom: 2px solid #000;
  border-right: 5px solid #000;
  transform: rotate(-125deg);
}


.head__mouth {
  position: absolute;
  top: 4px;
  left: 93px;
  width: 40px;
  height: 109px;
  border-radius: 0 53% 81% 100%;
  border-bottom: 1px solid #000;
  border-right: 2px solid #000;
  transform: rotate(93deg);
}


.head__eyelid {
  position: absolute;
  height: 14px;
  width: 28px;
  border-radius: 50% 35% 0 0;
  background: #FDD7A9;
  border: 2px solid #000;
  animation-name: eyelid, tan;
  animation-duration: 3s, 20s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: forwards;
}


.head__left-eyelid {
  left: 97px;
  top: -14px;
  transform: rotate(-16deg);
}


.head__right-eyelid {
  left: 135px;
  top: -18px;
  transform: rotate(9deg);
}

.head__neck {
  position: absolute;
  background: #FDD7A9;
  height: 70px;
  width: 20px;
  border: 2px solid #000;
  top: 92px;
  left: 106px;
  z-index: -1;
  animation-name: head, tan;
  animation-duration: 0.5s, 20s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: forwards;
}


.body {
  height: 164px;
  width: 128px;
  background: #fdd7a9;
  position: absolute;
  top: 360px;
  border: 2px solid #000;
  border-radius: 124% 91% 100% 82%;
  animation-name: body-top, tan;
  animation-duration: 0.5s, 20s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: forwards;
}


.body__skirt {
  position: absolute;
  top: 97px;
  left: 23px;
  width: 51px;
  height: 88px;
  border-radius: 100% 0 85% 0;
  border-top: 42px solid #0000FF;
  border-left: 42px solid #0000FF;
  transform: rotate(235deg);
}


.body__skirt:before {
  content: '';
  position: absolute;
  top: -66.5px;
  left: 3px;
  width: 10px;
  height: 30px;
  border-radius: 0 9% 100% 0;
  border-top: 42px solid #0000FF;
  border-left: 42px solid #0000FF;
  transform: rotate(-208deg);
}


.body__topic {
  position: absolute;
  top: -19px;
  left: 18px;
  width: 40px;
  height: 92px;
  border-radius: 49% 79% 68% 39%;
  transform: rotate(-131deg);
  border-top: 30px solid red;
  border-left: 30px solid red;
}


.body__topic:before {
  content: '';
  position: absolute;
  top: 11px;
  left: -59px;
  height: 40px;
  width: 58px;
  border-radius: 87% 21% 0 49%;
  border-top: 40px solid red;
  border-left: 40px solid red;
}


.body__topic:after {
  transform: rotate(42deg);
  content: "";
  position: absolute;
  top: -14px;
  left: -62px;
  height: 94px;
  width: 49px;
  background: red;
  border-radius: 0 52% 45% 5%;
}


.body__hand-right {
  position: absolute;
  top: 37px;
  left: -20px;
  width: 32px;
  height: 96px;
  border-radius: 100% 0 0 0;
  border-top: 9px solid #000;
  border-left: 2px solid #000;
  transform: rotate(13deg);
  animation: hand-right 1s linear infinite forwards;
}


.body__hand-right:before {
  content: '';
  position: absolute;
  top: 75px;
  left: -16px;
  width: 14px;
  height: 26px;
  border-radius: 100% 0 0 0;
  border-top: 1px solid #000;
  border-left: 2px solid #000;
  transform: rotate(3deg);
}


.body__hand-right:after {
  content: '';
  position: absolute;
  top: 73px;
  left: -4px;
  width: 14px;
  height: 21px;
  border-radius: 100% 0 0 0;
  border-top: 2px solid #000;
  border-left: 1px solid #000;
  transform: rotate(136deg);
}


.body__hand-left {
  position: absolute;
  top: 37px;
  left: 116px;
  width: 32px;
  height: 96px;
  border-radius: 100% 0 0 0;
  border-top: 9px solid #000;
  border-left: 2px solid #000;
  transform: rotate(4deg) scaleX(-1);
  z-index: -1;
  animation: hand-left 1s linear infinite forwards;
}


.body__hand-left:before {
  content: '';
  position: absolute;
  top: 75px;
  left: -16px;
  width: 14px;
  height: 26px;
  border-radius: 100% 0 0 0;
  border-top: 1px solid #000;
  border-left: 2px solid #000;
  transform: rotate(3deg);
}


.body__hand-left:after {
  content: '';
  position: absolute;
  top: 73px;
  left: -4px;
  width: 14px;
  height: 21px;
  border-radius: 100% 0 0 0;
  border-top: 2px solid #000;
  border-left: 1px solid #000;
  transform: rotate(136deg);
}


.body__foots {
  position: absolute;
  top: 1px;
  left: -4px;
  transform: rotate(3deg);
  z-index: -1;
}


.body__foot-left {
  position: absolute;
  top: 162px;
  left: 78px;
  width: 17px;
  height: 45px;
  border-radius: 100% 0 0 0;
  border-top: 19px solid #000;
  border-left: 10px solid #000;
  transform: rotate(-30deg) scaleX(-1);
  z-index: -1;
  animation: foot-left 1.2s linear infinite forwards;
}


.body__foot-left:before {
  content: '';
  position: absolute;
  top: 34px;
  left: -1px;
  width: 7px;
  height: 43px;
  border-radius: 100% 0 0 0;
  border-top: 13px solid #000;
  border-left: 5px solid #000;
  transform: rotate(-39deg);
}


.body__foot-left:after {
  content: '';
  position: absolute;
  top: 70px;
  left: -8px;
  width: 14px;
  height: 21px;
  border-radius: 100% 0 0 0;
  border-top: 2px solid #000;
  border-left: 7px solid #000;
  transform: rotate(213deg);
}


.body__foot-right {
  position: absolute;
  top: 162px;
  left: 78px;
  width: 17px;
  height: 45px;
  border-radius: 100% 0 0 0;
  border-top: 19px solid #000;
  border-left: 10px solid #000;
  transform: rotate(-30deg) scaleX(-1);
  z-index: -1;
  animation: foot-right 1.2s linear infinite forwards;
}


.body__foot-right:before {
  content: '';
  position: absolute;
  top: 34px;
  left: -1px;
  width: 7px;
  height: 43px;
  border-radius: 100% 0 0 0;
  border-top: 13px solid #000;
  border-left: 5px solid #000;
  transform: rotate(-39deg);
}


.body__foot-right:after {
  content: '';
  position: absolute;
  top: 70px;
  left: -8px;
  width: 14px;
  height: 21px;
  border-radius: 100% 0 0 0;
  border-top: 2px solid #000;
  border-left: 7px solid #000;
  transform: rotate(213deg);
}


.road {
  position: absolute;
  background: grey;
  width: 100%;
  height: 266px;
  top: 480px;
  z-index: -5;
}


.road__lines {
  position: absolute;
  width: 100%;
  background: linear-gradient(90deg, white 70%, transparent 50%);
  background-size: 150px;
  height: 15px;
  top: 6px;
  animation: road 1s infinite linear;
}


.road__lines:nth-child(2) {
  top: 245px;
}


.cloud-1 {
  position: absolute;
  top: 70px;
  left: 300px;
  width: 60px;
  height: 60px;
  border-radius: 100% 100% 0 100%;
  background: #fff;
  animation: 5s cloud linear infinite;
  animation-delay: -.2s;
  opacity: .6;
}


.cloud-1:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 54px;
  width: 40px;
  height: 40px;
  border-radius: 100% 100% 0 0;
  background: #fff;
}


.cloud-1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 90px;
  width: 30px;
  height: 30px;
  border-radius: 100% 100% 100% 0;
  background: #fff;
}


.cloud-2 {
  position: absolute;
  top: 150px;
  left: 110px;
  width: 34px;
  height: 34px;
  border-radius: 100% 100% 100% 0;
  background: #fff;
  animation: 6.5s cloud linear infinite;
  animation-delay: -.5s;
  opacity: .6;
}


.cloud-2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 24px;
  height: 24px;
  border-radius: 100% 100% 0 0;
  background: #fff;
}


.cloud-2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -30px;
  width: 20px;
  height: 20px;
  border-radius: 100% 100% 0 100%;
  background: #fff;
}


.cloud-3 {
  position: absolute;
  top: 172px;
  left: 630px;
  width: 34px;
  height: 34px;
  border-radius: 100% 100% 100% 0;
  background: #fff;
  animation: 8s cloud linear infinite;
  animation-delay: -.8s;
  opacity: 0.6;
}


.cloud-3:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 24px;
  height: 24px;
  border-radius: 100% 100% 0 0;
  background: #fff;
}


.cloud-3:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -30px;
  width: 20px;
  height: 20px;
  border-radius: 100% 100% 0 100%;
  background: #fff;
}


.block {
  height: 200px;
  width: 200px;
  background-color: #FFD200;
  margin: 50px auto;
}


.animation-any {
  animation-name: blind-down;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: revers;
  animation-play-state: running;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
